body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    margin: 0;
}

.card {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    animation: pulseBackground 5s infinite;
    box-sizing: border-box;
}

@keyframes pulseBackground {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #fff;
    }
}

.card input,
.card button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.card button:hover {
    background-color: #45a049;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    margin: 0;
}

.card {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    animation: pulseBackground 5s infinite;
    box-sizing: border-box;

}

@keyframes pulseBackground {
    0% {
        background-color: #fff;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #fff;
    }
}

.card input,
#button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#button:hover {
    background-color: #45a049;
}

#search-btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    justify-content: center;
    background-color: #4CAF50;
    text-align: center;
}



#search-btn:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    justify-content: center;
    color: white
}